

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* font-family: "Inter", "Helvetica", "Arial", sans-serif; */
  /* font-size: 15px;
  line-height: 1.6;
  color: $content-main-color; */
  min-width: 320px;
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}