//FONTSIZES
$fsz-small: 12px;
$fsz-middle: 14px;
$fsz-large: 18px;
$fsz-xlarge: 20px;
//MARGINS
$margin-big: 20px;
//BACKGROUND
$background-color-first: #EBEEF3;
$background-color-second: #FFFFFF;
//FONT-COLOR
$text-color-first: #000000;
$text-color-second: #1890FF;
$text-color-third: #FFFFFF;
$text-color-fourth: #8C8C8C;
$text-color-fifth: #f32121;
//DECORATIVE-FILL-COLOR
$decorative-fill-color-first: #FFFFFF;
$decorative-fill-color-second: #F1FCFF;
$decorative-fill-color-third: #2196F3;
$decorative-fill-color-fourth: #f32121;
$decorative-fill-color-fifth: #8C8C8C;
$decorative-fill-color-sixth: #53c41a75;
$decorative-fill-color-seventh: #f3212163;
//DECORATIVE-LINE-COLOR
$decorative-line-color-first: #000000;
$decorative-line-color-second: #2196F3;
$decorative-line-color-third: #FFFFFF;
$decorative-line-color-fourth: #52C41A;
$decorative-line-color-fifth: #D9D9D9;
$decorative-line-color-sixth: #f32121;